#instructions{
  background: #444;
  color:white;

  .close{
    color:white;

    &[aria-expanded=false] .fa-chevron-down {
      display: none;
    }
    &[aria-expanded=true] .fa-plus {
      display: none;
    }
  }
}
