<div id="instructions">
  <div class="container">
    <div id="text-toggle" class="close" data-toggle="collapse" data-target="#instructions-toggle" aria-controls="instructions-toggle" aria-expanded="false">
      <i class="fa fa-chevron-down"></i>
      <i class="fa fa-plus"></i>
    </div>
    <strong><i class="fa fa-question-circle"></i> Instructions:</strong>
    <div id="instructions-toggle" class="instructions-toggle collapse" aria-labelledby="text-toggle">
      <h2>Hello,</h2>
      <p>This project is to allow users to see a map with pending support tickets and to mark tickets as resolved.</p>
      <p>This project has some bugs that need to be fixed!</p>

      <ol class="text-left">
        <li ng-repeat="p in $ctrl.problems">{{p}}</li>
      </ol>
    </div>
    <br/>
  </div>

</div>
