<div class="container">
  <div class="text-center" ng-hide="$ctrl.isLoggedIn()">
    <h1>Login to See Map</h1>
  </div>
  <div ng-if="$ctrl.isLoggedIn()">

    <div class="row">
      <div ng-class="{'col-xs-8': $ctrl.ticketSelected, 'col-xs-12': !$ctrl.ticketSelected}" style="transition: width 1s ease;">
        <map></map>
      </div>
      <div ng-class="{'col-xs-4': $ctrl.ticketSelected, 'hide': !$ctrl.ticketSelected}">
        <div id="ticket-details" ng-if="$ctrl.ticketSelected" class="animated fadeInRight hide">
          <h2>{{$ctrl.ticketSelected.name}}</h2>
          <p>{{$ctrl.ticketSelected.info}}</p>

          <br/>

          <div class="text-right">
            <button type="button" class="btn btn-default" ng-click="$ctrl.ticketSelected = null">Deselect</button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteThing($ctrl.ticketSelected)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <h1>Stops:
      <div ng-click="$ctrl.$('#add-new').modal('show')" class="pull-right btn btn-success">
        <i class="fa fa-plus"></i>
        Add New
      </div>
    </h1>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.tickets" >
        <a href="#" data-toggle="tooltip" title="{{thing.info}}" ng-class="{'btn-primary active': $ctrl.ticketSelected == thing}" class="btn btn-default btn-block" ng-click="$ctrl.selectTicket(thing)">{{thing.name}}</a>
        <br/>
      </div>
    </div>


    <div id="add-new" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div ng-click="$ctrl.$('#add-new').modal('hide')" class="close">
              <i class="fa fa-close"></i>
            </div>
            <h2>Add New</h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Place Name:</label>
              <input type="text" class="form-control" placeholder="Place Name" ng-model="$ctrl.newThing.name">
            </div>
            <div class="form-group">
              <label>Info:</label>
              <textarea class="form-control" placeholder="Info" ng-model="$ctrl.newThing.info"></textarea>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Latitude:</label>
                  <input type="number" class="form-control" placeholder="Latitude" ng-model="$ctrl.newThing.lat">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label>Longitude:</label>
                  <input type="number" class="form-control" placeholder="Longitude" ng-model="$ctrl.newThing.long">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>
